.App {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.App h2 {
  text-align: center;
  color: var(--warning);
}

.App--container {
  max-width: 800px;
  margin: 0 auto;
}
